.page-wrapper {
    display: flex;
    justify-content: space-between;}

.left-panel-wrapper {width: 200px;}

.content-wrapper {
    width: calc(100% - 300px); 
    padding: 30px; 
    background-color: black; 
    opacity: 65%; 
    color: white;
    border-radius: 10px;}

.button {
    text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #0447ff 0%, #fa1291 51%, #b004ff 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;}

.button:hover {
     background-position: right center;}

p2 {
    font-size: 15px; 
    text-align: left;}

p3 {
    font-size: 30px; 
    font-weight: bold;}

h1 {font-size: 50px; 
    color: black;}

.h1 a:link {color: black; text-decoration: none; font-size: 50}
.h1 a:visited {color:black; text-decoration: none; font-size: 50}
.h1 a:hover {color: black; text-decoration: none; font-size: 50;}
.h1 a:active {color: black; text-decoration: none; font-size: 50;}

header {
    position:static; 
    margin-bottom: 10px;}

body {background: rgb(21,8,241);

background: linear-gradient(20deg, rgba(21,8,241,1) 0%, rgba(9,9,121,1) 34%, rgba(255,0,0,1) 100%);}

footer {margin-top: 15px;}

h2{font-size: 30px; 
    margin-top: 0px;}

.wiki {text-align: right; color: white;}
.wiki a:link {color: white; text-decoration: none;}
.wiki a:visited {color:rgb(92, 203, 247); text-decoration: none;}
.wiki a:hover {color: violet; text-decoration: none;}
.wiki a:active {color: purple; text-decoration: none;}

.list a:link {color: white; text-decoration: none; font-size: 18}
.list a:visited {color:rgb(0, 10, 14); text-decoration: none; font-size: 18}
.list a:hover {color: rgb(255, 117, 255); text-decoration: underline; font-weight: bold; font-size: 20;}
.list a:active {color: rgb(65, 0, 65); text-decoration: underline; font-size: 20;}